{% extends "base.html" %}

{% block content %}
    <h1>
        {{ user.get_full_name }} (@{{user.username}})
    </h1>

    {% with profile=user.profile %}
        {% if profile %}
            <div>
                {{ profile.bio|default:"" }}
            </div>
            <br>><br>
            <div>
                <h3>Interests</h3>
                {% for interest in profile.interests.all %}
                    <li>{{interest}}</li>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


{% endblock %}